.comp__container {
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;
}

.comp__card {
  background-color: var(--container-color);
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
}

.comp__img {
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.comp__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.comp__tagline {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.comp__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.comp__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.comp__button:hover .work__button-icon {
  transform: translate(0.25rem);
}

.comp__button:hover {
  color: var(--text-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .comp__container {
    grid-template-columns: repeat(2, max-content);
    gap: 1.25rem;
  }

  .comp__card {
    pad: 1rem;
    margin-bottom: 0.75rem;
  }

  .comp__tagline {
    margin-bottom: 0.75rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .comp__container {
    grid-template-columns: max-content;
  }
}

@media screen and (max-width: 576px) {
  .comp__container {
    grid-template-columns: 1fr;
  }

  .comp__card {
    width: 100%;
  }
}
